*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    height: 100%;;
    font-size: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.mama{
	display: absolute;
}

.valentined{
    margin: 20px;
}

.valentine{
    font-weight: normal;
}

.gif1d{
    margin: 50px;
}

.button_yesd, .button_nod{
    color: white;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid white;
    padding: 5px 25px;
    cursor: pointer;
    margin: 50px;
}

.button_yesd.active, .button_nod.active{
    opacity: 0.3;
    transform: scale(0.9);
    transition: all 0.2s ease;
}

.button_yes, .button_no{
    font-weight: normal;
}

.button_yesd:hover, .button_nod:hover{
    background: white;
    color: black;
}

.yesd1{
    margin: 20px;
}

.right{
    position: relative;
    float: left;
    transform: scale(1.7);
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px 5px;
    margin-left: 150px;
    margin-top:40px;
    font: bold;
}

.shop{
    float: right;
    width: 20%;
    cursor: pointer;
    margin-right: 70px;
    margin:15px
}

.upgradebutton{
    transform: scale(0.9);
    transition: all .2s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
}

.shopButton{
    transition: all .2s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    margin-right: 150px;
    margin-top: 10px;
}

.upgradebutton, .achievement{
    display: inline-block;
}

.shopButton:hover , .upgradebutton:hover{
    background-color: white;
    color: black;
    transition: all .2s ease-in-out;
}

.shopButton #image{
    width: 10%;
}

.shopButton img{
    margin-left: 10px;
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.shopButton #nameAndCost p, .upgradeClickd #nameAndCost p{
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type, .upgradeClickd #nameAndCost p:first-of-type{
    font-size: 24px;
}

.shopButton #amount{
    float: right;
    font-size: 30px;
    margin: 17px;
}

/*.heart{
    width: 20%;
    cursor: pointer;
}

.heart img{
    margin-top: 50%;
    position: relative;
    transition: all .2s ease-in-out;
}

.heart img:hover{
    transform: scale(1.1);
}

.heart img:active{
    transform: scale(0.99);
}*/

.heart{
    position: absolute;
    margin-top: 12%;
    margin-left: 42%;
}

#heart{
    cursor: pointer;
    background-image: url("./images/heart.png");
    background-size: contain;
    position: absolute;
    transition: all .2s ease-in-out;
    height: 256px;
    width: 256px;
}

#heart > .number{
    z-index: 99;
    font-size: 24px;
    color: white;
    position: absolute;
}

#heart:hover{
    transform: scale(1.1);
}

#heart:active{
    transform: scale(0.99);
}

#upgrade img{
    height: 64px;
    width: 64px;
}

#achievementsContainer img{
    height: 64px;
    width: 64px;
}

.achievement{
    transition: all .2s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
    margin-top: 30px;
}

.achievementsContainer{
    transition: all .2s ease-in-out;
    width: 100%;
}


.clickingpower{
    float: left;
    margin-top: 31px;
    transform: scale(1.1);
    float: left;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px 7px;
    margin-left: 130px;
    font: bold;
}
